<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.one.dao.AutoMapper">
	
	<select id="getlist" parameterType="hashmap" resultType="String">
	
	select b.* from
		(select name from fit_mainboard
		union all
		select name from fit_power
		union all
		select cpuname from fit_cpu
		union all
		select casename from fit_case
		union all
		select product_name from fit_gpu
		union all
		select name from fit_steam) b
		WHERE 
		name like '%'||#{keyvalue}||'%' 
	</select>
</mapper>

